In [8]:
import pandas as pd
import json
with open ("C:\\Users\\ranje\\OneDrive\\D_Folder\\Webscrapping\\4.Wildcraft_scrappy\\product_data.json") as file:
    data = json.load(file)
df = pd.DataFrame(data)
fd = pd.DataFrame(data)

In [14]:
df.head(2)

,Product Name,Price,Discount,Url
0,Men Hypadry Rain Suite-Olive,"₹1,199",(50% OFF),https://wildcraft.com/media/catalog/product/1/...
1,Men Hypadry RainSuite-Maroon,"₹1,224",(50% OFF),https://wildcraft.com/media/catalog/product/1/...

In [22]:
count_of_rows = df[df['Price'].isna()]
print(len(count_of_rows))

179

In [12]:
import re
extract_format = lambda s : '-'.join([str(i) for i in re.findall(r'\d+', s)]) if s else 0

In [17]:
df['Savings %'] = df['Savings'].apply(extract_format)

In [18]:
df.head()

,Name,Price,Savings,Image,Savings %
0,junction seat wedge,$13.93 - $16.93,save 32% - 44%,https://www.rei.com/media/f6a65cd4-9ad3-4c9a-8...,32-44
1,top tube phone bag,$16.73,save 33%,https://www.rei.com/media/1e319b93-d0d1-4b3f-a...,33
2,junction top tube bag,$20.93,None,https://www.rei.com/media/ed4b6713-ca65-4d76-b...,0
3,junction stem bag,$20.93,save 30%,https://www.rei.com/media/32d3ed05-ac58-4859-8...,30
4,10-in-1 multi-tool,$17.73,save 29%,https://www.rei.com/media/cbbe1afe-22bc-49eb-a...,29

In [19]:
format =[]
for i in fd['Savings']:
    if i:
        numbers = re.findall(r'\d+', i)
        format.append('-'.join(numbers))
    else:
        format.append(0)

In [20]:
fd['Savings %'] = format

In [22]:
fd.head()

,Name,Price,Savings,Image,Savings %
0,junction seat wedge,$13.93 - $16.93,save 32% - 44%,https://www.rei.com/media/f6a65cd4-9ad3-4c9a-8...,32-44
1,top tube phone bag,$16.73,save 33%,https://www.rei.com/media/1e319b93-d0d1-4b3f-a...,33
2,junction top tube bag,$20.93,None,https://www.rei.com/media/ed4b6713-ca65-4d76-b...,0
3,junction stem bag,$20.93,save 30%,https://www.rei.com/media/32d3ed05-ac58-4859-8...,30
4,10-in-1 multi-tool,$17.73,save 29%,https://www.rei.com/media/cbbe1afe-22bc-49eb-a...,29